/**
 * $normalize 页面整体样式调整
 **/

/**
 * 设置整个项目默认字号, 行高, 颜色, 绝大部分元素不用再设置
 **/
html {
    box-sizing: border-box;
}
*,
*::before,
*::after {
    box-sizing: inherit;
    margin: 0;
    padding: 0;
}
body {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-family: 'Lato', sans-serif;
    font-size: 14px;
    line-height: 1.4;
    color: #fff;
    overflow-x: hidden;
    background-size: 100% 100%;
    background-image: url("../img/main_background.jpg");
}
ul,
ol {
    list-style: none;
    margin: 0;
    padding: 0;
}
a {
    color: #fff;
    text-decoration: none;
}
a:focus {
    outline: 0;
}
h2 {
    font-weight: normal;
}
h3 {
    font-weight: normal;
}

/**
 * $layout 页面总体布局
 **/
html,
body {
    height: 100%;
}
.page-wrapper {
    height: 100%;
    padding-top: 50px;
}
.header-wrapper {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 50px;
    z-index: 1024;
    background-color: #000;
}
.content-wrapper {
    min-height: calc(100% - 50px);
}
.footer-wrapper {
    height: 50px;
}
.page-container {
    max-width: 1000px;
    margin: 0 auto;
}


/**
 * $tool 工具类
 **/
 .show {
    display: block !important;
 }
 .hide {
    display: none !important;
 }
.clearfix:before,
.clearfix:after {
    content: "";
    display: table;
}
.clearfix:after {
    clear: both;
}
.h1,
.h2,
.h3,
.h4,
.h5 {
    font-family: Lato, serif;
}
.h1 {
    font-size: 45px;
}
.h2 {
    font-size: 28px;
}
.h3 {
    font-size: 24px;
}
.h4 {
    font-size: 20px;
}
.h5 {
    font-size: 18px;
}


.p1,
.p2,
.p3 {
    font-family: Maitree, serif;
}
.p1 {
    font-size: 18px;
}
.p2 {
    font-size: 14px;
}


/**
 * $ 栅格
 **/
.mini-row {
  margin: 0 -15px;
}
.mini-row:before,
.mini-row:after {
    content: "";
    display: table;
}
.mini-row:after {
    clear: both;
}

.col-4 {
  width: 33.33333%;
  float: left;
  padding: 0 15px;
  position: relative;
}
.col-6 {
  width: 50%;
  float: left;
  padding: 0 15px;
  position: relative;
}
.col-8 {
  width: 66.66667%;
  float: left;
  padding: 0 15px;
  position: relative;
}


/**
 * header
 **/
.header {
    font-family: 'Lato', sans-serif;
    height: 50px;
    max-width: 1000px;
    margin: 0 auto;
}
.header-back-link {
    position: absolute;
    top: 7px;
    left: 15px;
    width: 35px;
    height: 35px;
    background-size: 100% 100%;
    background-image: url("../img/back_icon_sharp.png");
}
.home-link {
    float: left;
    text-indent: -9999em;
    width: 60px;
    height: 20px;
    background-size: 100% 100%;
    margin-top: 15px;
    background-image: url("../img/snap_single_wordform_white.png");
}
.nav-list {
    float: left;
}
.nav-item {
    float: left;
    margin-left: 100px;
}
.nav-link {
    height: 50px;
    line-height: 50px;
    display: inline-block;
    font-weight: 18px;
}
.settings {
    float: right;
}
.setting-icon {
    float: left;
    margin-top: 17px;
    margin-right: 20px;
    width: 16px;
    height: 16px;
    display: inline-block;
    cursor: pointer;
    background-size: 100% 100%;
    background-image: url("../img/settings_icon.png");
}
.setting-text {
    float: left;
    height: 50px;
    line-height: 50px;
}
/**
 * footer
 **/
.footer {
    border-top: 2px solid #4c4c4c;
    background-color: #000;
    font-family: 'Lato', sans-serif;
    height: 50px;
}
.footer-content {
    max-width: 1000px;
    margin: 0 auto;
    overflow: hidden;
}
.footer-logo {
    float: left;
    width: 30px;
    height: 30px;
    background-size: 100% 100%;
    background-image: url("../img/footer-logo.png");
    margin: 2px 0;
}
.footer-nav {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
    -webkit-justify-content: space-around;
    -moz-justify-content: space-around;
    justify-content: space-around;
}
.footer-nav-item {
    display: inline-block;
}
.footer-nav-item a {
    display: inline-block;
    line-height: 1;
    margin-top: 10px;
}

/**
 * $dropdown
 **/
.dropdown {
    position: relative;
}
.dropdown-menu {
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 1000;
    display: none;
    float: left;
    min-width: 160px;
    padding: 5px 0;
    margin:  0 0;
    font-size: 14px;
    text-align: left;
    list-style: none;
    background-color: #fff;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    border: 1px solid #ccc;
    border: 1px solid rgba(0,0,0,.15);
    border-radius: 4px;
    -webkit-box-shadow: 0 6px 12px rgba(0,0,0,.175);
    box-shadow: 0 6px 12px rgba(0,0,0,.175);
}
.dropdown:hover .dropdown-menu {
    display: block;
}
.dropdown a {
    display: block;
    padding: 3px 20px;
    clear: both;
    font-weight: 400;
    line-height: 1.42857143;
    color: #333;
    white-space: nowrap;
}
.dropdown a:hover {
    color: #262626;
    text-decoration: none;
    background-color: #f5f5f5;
}
/**
 * $sitenav
 **/

.sitenav {
    position: fixed;
    left: 20px;
    top: 20%;
}
.sitenav-item a {
    display: block;
    width: 64px;
    height: 64px;
    background-size: 100% 100%;
    margin-bottom: 20px;
}
.sitenav-game-home a {
    background-image: url("../img/game_icon.png");
}
.sitenav-achievement a {
    background-image: url("../img/achievement_logo.png");

}
.sitenav-progress a {
    background-image: url("../img/progress_icon.png");

}
.sitenav-reading-material a {
    background-image: url("../img/reading_material_icon.png");
}

/**
 * $back to top
 **/

.back-top {
    width: 48px;
    height: 48px;
    position: fixed;
    right: 20px;
    bottom: 80px;
    cursor: pointer;
}
.back-top .icon-top {
    width: 48px;
    height: 48px;
    margin: 0 auto 20px;
    background-size: 100% 100%;
    background-image: url("../img/back_to_top_white_icon.png");
}
.back-top-label {
    text-align: center;
    color: #fcee2d;
    font-size: 18px;
    display: none;
}
.back-top:hover .icon-top {
    display: none;
}
.back-top:hover .back-top-label {
    display: block;
}


/**
 * $snap-alert
 **/
.snap-alert {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 99999;
}
.snap-alert-mask {
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
}
.snap-alert-container {
    text-align: center;
    border: 2px solid #fff;
    padding: 24px;
    width: 350px;
    height: 200px;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
    background-size: 100% 100%;
    background-image: url("../img/game_home_background.png");
}
.snap-alert-logo {
    width: 83px;
    height: 28px;
    margin: 0 auto;
    display: block;
    background-size: 100% 100%;
    background-image: url("../img/snap_single_wordform_white.png");
}
.snap-alert-content {
    padding-top: 20px;
    height: 85px;
    font-family: Maitree, serif;
    font-size: 18px;
}
.snap-alert-confirm {
    margin: 0 auto;
    width: 110px;
    height: 40px;
    line-height: 40px;
    border-radius: 4px;
    background-color: rgba(0, 0, 0, 0.8);
    font-size: 18px;
    cursor: pointer;
}


/**
 * $attachment
 **/
.attachment {
    position: fixed;
    right: 0;
    top: 100px;
}
.attachment-nav {
    float: left;
    width: 100px;
}
.attachment-nav-item {
    text-align: center;
    padding: 10px;
    cursor: pointer;
    margin-bottom: 10px;
    color: #fcee2d;
    border: 2px solid;
    border-right: 0;
    border-radius: 10px 0 0 10px;
}
.attachment-nav-item-hide {
    display: none;
}
.attachment-nav-item-active {
    background-color: #fcee2d;
    color: #fff;
    border-color: #fcee2d;
}
.attachment-content-container {
    width: 432px;
    background-color: #000;
    padding: 15px;
    float: left;
    display: none;
}
.attachment-content-container-show {
    display: block;
}
.attachment-content {
    max-height: 340px;
    overflow-y: auto;
    border-radius: 10px;
    padding: 20px 10px;
    background-color: #dddede;
    color: #000;
    display: none;
}
.attachment-content-show {
    display: block;
}
.attachment-content p {
    margin-bottom: 20px;
}
.attachment-close {
    float: left;
    width: 32px;
    height: 32px;
    margin: 5px 5px 0;
    background-size: 100% 100%;
    background-image: url("../img/cancel_icon.png");
    cursor: pointer;
    display: none;
}
.attachment-close-show {
    display: block;
}


/**
 * $question-form
 **/
.question-form {
    width: 100%;
}
.question-item {
    display: block;
    margin-bottom: 10px;
}
.question-title {
    margin-bottom: 10px;
    display: block;
}
.question-content {
    display: block;
    width: 100%;
    overflow: hidden;
    position: relative;
}
.question-addon-container .question-field {
    padding-left: 40px;
}
.question-addon {
    padding: 7px 12px;
    font-size: 14px;
    font-weight: 400;
    line-height: 1;
    position: absolute;
    left: 0;
    top: 0;
    color: #555;
    text-align: center;
    background-color: #eee;
    border: 1px solid #ccc;
    border-radius: 4px 0 0 4px;
}
.question-field {
    float: left;
    width: calc(100% - 100px);
    border-radius: 10px;
    border: 0;
    height: 30px;
    line-height: 30px;
    padding: 0 10px;
}
.question-field:focus {
    outline: 0;
}
.question-error {
    display: none;
    float: left;
    width: 100px;
    color: red;
    padding-top: 6px;
    padding-left: 10px;
}
.question-error-show {
    display: block;
}
.question-submit {
    display: block;
    width: 80px;
    height: 80px;
    margin: 0 auto;
    background-color: transparent;
    border: 0;
    background-size: 100% 100%;
    background-image: url("../img/submit_icon.png");
    cursor: pointer;
}
.question-submit:disabled {
    cursor: not-allowed;
}
.question-submit:focus {
    outline: 0;
}

/**
 * $icon
 **/
.image-icon {
    background-size: 100% 100%;
}
.image-icon-smoking {
    background-image: url("../img/smoking_icon.png");
}
.image-icon-nutrition {
    background-image: url("../img/nutrition_icon.png");
}
.image-icon-alcohol {
    background-image: url("../img/alcohol_icon.png");
}
.image-icon-physical {
    background-image: url("../img/physical_activity_icon.png");
}
.image-icon-health {
    background-image: url("../img/health_and_wellbeing_icon.png");
}
.image-icon-sexual {
    background-image: url("../img/sexual_health_icon.png");
}
.image-icon-drugs {
    background-image: url("../img/drugs_icon.png");
}

/**
 * $cancel task
 **/
.cancel-task {
    position: fixed;
    top: 100px;
    right: 200px;
    width: 40px;
    text-align: center;
    background-color: #000;
    z-index: 1024;
}
.cancel-icon {
    display: block;
    width: 24px;
    height: 24px;
    margin: 0 auto 10px;
    background-size: 100% 100%;
    background-image: url("../img/cancel_icon.png");
    cursor: pointer;
}

/**
 * $pagination
 **/
.pagination {
    text-align: center;
    display: flex;
    justify-content: center;
    cursor: pointer;
}
.pagination-nav {
    display: inline-block;
    width: 32px;
    height: 32px;
    margin: 0 10px;
    background-size: 100% 100%;
    background-image: url("../img/direction_icon.png");
}
.pagination-prev {
    transform: rotate(180deg);
}
.pagination-nav-list {
    display: inline-block;
    height: 32px;

}
.pagination-nav-item {
    display: inline-block;
    margin: 0;
    color: #fff;
    font-size: 20px;
    width: 32px;
    height: 32px;
    line-height: 32px;
}
.pagination .active {
    color: #fcee2d;
}
