/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 09/05/2016, 10:15:53 AM
    Author     : Shivangi
*/


.container
{
    background-image: url('b1.jpg');
    background-repeat: repeat;
    background-attachment : fixed;
    margin-top: 10px;
    padding: 4px;
    height: 97%;
    overflow-y: auto;
    font-family: 'Raleway', sans-serif;
    
}

.hidden{
     opacity:0;
}
.visible{
     opacity:1;
}


body
{
    height: 98vh;
    min-height: 98vh;
   
}

.h1, h1
{
    font-size: 50px;
    text-align: center;
}

::-webkit-scrollbar {
 display: none;
}

p
{
    font-size:large;
}
