/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 13/05/2016, 12:54:00 PM
    Author     : Shivangi
*/

.content
{
    background-color: black;
}


body
{
    font-family: 'Raleway', sans-serif;
    background-color: black !important;
}

.panel-body img
{
    height: 600px;
    width: inherit;
    display: flex;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    margin-bottom: 10px;
}

.panel
{
    border-radius: 0 !important; 
    font-family: 'Raleway', sans-serif;
}

.btn-lg
{
    border-radius: 15px !important;
    color: black !important;
    background-color: gainsboro !important;
}

.btn-block
{
    white-space: normal !important ;
}

.options>.btn:hover
{
   background-color: lightgrey !important;
   color: black;
   border-radius: 15px !important;
   border: none !important;
   outline: none !important;
	
}

.options>.btn:focus
{
    background-color: darkgrey !important;
    color: black;
    border-radius: 15px !important;
    border: none !important;
    outline: none !important;
}


/*
.highlight
{
    background-color: orange !important;
}
*/

.options>.btn.active, .options>.btn:active
{
    background-color: darkgrey !important;
	color: black;
    border-radius: 15px !important;
    border: none !important;
    outline: none !important;
}

.options>.btn
{
    text-align: left;
    font-family: 'Raleway', sans-serif;
    background-color: rgba(0,0,0,0);
    border: none;
    border: 0px solid #eee;
    color: black;
    border-radius: 15px !important;
}

.panel-body
{
    padding: 0px !important;
}

label
{
    color: black;
}

.list-group-item
{
    background-color: black !important;
    padding: 5px 5px !important;
}

.myques>.panel
{
    background-color: rgba(0, 0, 0, 0) !important;
    border: none !important;
    position: absolute;
    left: 20%;
    top: 10%;
    width: 60%;
    color: floralwhite;
    height: 80%;

}

.panel-heading
{
    border: none !important;
    background-color: rgba(0,0,0,0) !important;
    color: floralwhite !important;
}

.info
{
    border: none !important;
    position: absolute;
    left: 19%;
    width: 70%;
    color: black;
    opacity: 0.9;
    overflow-y: auto;
}

li>.btn:focus
{
    border: none !important;
    outline: none !important;
}

li>.btn-default.highlight
{
    border: none !important;
    outline: none !important;
}

li>.btn
{
    padding: 0px !important;
    border-radius: 100px !important;
}

/*
.completed
{
    background-color: lightseagreen !important;
    color: white;
    font-family: 'Raleway', sans-serif;   
}
*/

/*.sidebar
{
    overflow-y: auto;
    max-height: 80vh;
    
}*/

.lg>li
{
    border: none !important;
}



.correct
{
     background-color:lightseagreen !important;
     color:white !important;
}

.wrong
{
     background-color:salmon !important;
     color:white !important;
}

/* Customize scrollbar */

::-webkit-scrollbar 
{
    width: 6px;
}
 
::-moz-scrollbar
{
	width: 6px;
} 

/* Track */
::-webkit-scrollbar-track 
{
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); 
    -webkit-border-radius: 10px;
    border-radius: 10px;
}

::-moz-scrollbar-track 
{
    -moz-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); 
    -moz-border-radius: 10px;
    border-radius: 10px;
}
 
/* Handle */
::-webkit-scrollbar-thumb 
{
    -webkit-border-radius: 10px;
    border-radius: 10px;
    background: grey; 
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5); 
}

::-moz-scrollbar-thumb 
{
    -moz-border-radius: 10px;
    border-radius: 10px;
    background: grey; 
    -moz-box-shadow: inset 0 0 6px rgba(0,0,0,0.5); 
}

::-webkit-scrollbar-thumb:window-inactive 
{
	background: white;
}

::-moz-scrollbar-thumb:window-inactive 
{
	background: white;
}