/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 29/04/2016, 2:02:19 PM
    Author     : Shivangi
*/
body
{
    background-image: url('b2.jpg');
    background-repeat: repeat;
    background-attachment : fixed;
    font-family: 'Raleway', sans-serif;
    overflow-y: hidden;
   
}


.panel-body
{
    font-size:initial;
    overflow-y: auto;
}

.panel-heading
{
    font-family: 'Raleway', sans-serif;
    font-size:large;
}