/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 29/04/2016, 2:02:19 PM
    Author     : Shivangi
*/
body
{
    
    font-family: 'Raleway', sans-serif;
    height: 100vh;
    
   
}

.container
{
    height: 90%;
    background-image: url('b2.jpg');
    background-attachment: fixed;
    background-repeat: repeat;
    text-align: center;
    overflow-y:auto;
    width:97%;
}

h2
{
    color: floralwhite;
    font-size: 45px;
}
.panel-heading
{
    font-family: 'Raleway', sans-serif;
    font-size:large;
}