/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 09/05/2016, 4:27:13 PM
    Author     : Shivangi
*/

.lg>li
{
    background-color:black;
    color: olive;
    border: none;
   /* border: 0px solid #eee;
    border-left-color: olive;
    border-left-width: 5px; */
    font-family: 'Krona One', sans-serif;
    font-size: small;  
    background-color: rgba(0, 0, 0, 0);
    

}

.row
{
    width: 100%;
    margin-left: 0px !important;   
}

body
{
    height: 100vh;
    width: 100%;
    background-image: url('g8.png');
    background-repeat: repeat;
    background-attachment : fixed; 
}

.sidebar
{
    bottom: 0;
    right: 0;
    z-index: 1000;
    display: block;
    overflow-x: hidden;
    overflow-y: auto;
    background-image: url('b1.jpg');
    float: right;
    margin-bottom: -5000px; /* any large number */
    padding-bottom: 5000px;
    margin-right:0px !important;

}

* {
  border-radius: 0 !important;
}

.btn-default
{
    white-space: normal;
    border: 1px solid white;
    color: white;
    background-color: rgba(0, 0, 0, 0);
  
}

.panel, .panel-default
{
    background-color: rgba(0, 0, 0, 0);
    border: none !important;
}

.navbar-default
{
    border:none;
    background-image: url('b1.jpg');
}

.question
{
     padding-top: 100px;
     text-align: center;
     font-family: 'Raleway', sans-serif;
}

/* Customizing radio buttons */

input[type=radio] {
    display: none;
}
label {
    cursor: pointer;
}
input[type=radio] + label:before {
    font-family:'FontAwesome';
    display: inline-block;
}
input[type=radio] + label:before {
    content:"\f10c";
    color: olive;
    cursor: pointer;
}
input[type=radio] + label:before {
    letter-spacing: 5px;
}
input[type=radio]:checked + label:before {
    content:"\f111";
    color: olive; /* Remove this if you remove the 3 Last Rules of the CSS */
}
